# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# .gitignore 파일에 .contentlayer 디렉터리를 추가하여 앱의 각 빌드에 최신 생성 데이터가 포함되고 Git 관련 문제가 발생하지 않도록 하자.
# contentlayer
.contentlayer